body {
    font-family: Arial, sans-serif;
    font-size: larger;
    margin: 0; /* espaçamento externop da página */
    padding: 0; /* espaçamento interno da página*/
    background-color: rgb(112, 108, 108);
    text-align: center; /*texto centralizado*/
   }
   header {
       background-color: #ffffff;
       color: rgb(0, 0, 0);
       /*15px (espaçamento interno acima e abaixo) e opx ( direita e esquerda) */
       padding: 15px 0px;   
       font-size: 24px;
   }
   nav {
       background-color: rgb(77, 77, 77);
       padding: 10px; /* espaçamento interno do menu*/
       display: flex;/* Flex Boxing */
       justify-content: space-between; /* espaço entre os elemnetos do menu */
       align-items: center; /* alinhamento vertical */
   }
   #links-menu{
       display: flex;
       gap: 20px; /* distãncia entre os itens do menu*/
   }
   nav a{/* configura os links do menu */
       color: rgb(255, 255, 255);
       text-decoration: none;/* não decora os links*/
       padding: 10px 15px;/* ( 10px acima e abaixo) ( 15px é esquerda e direita)*/
       font-size: 18px;
       background: rgb(0, 0, 0);
       border-radius: 5px;/* cantos arredondados */
   }
   
   img{
       width: 120px;
       height: auto;
       margin-right: 80px; /*espaçamento externo à direita */
       border-radius: 10px;
   }
   
   .container{
       width: 80%; /*largura de 80% da largura da página */
       background: white;
      border-radius:10px ;
      /*espaçamento externo acima e abaixo*/
      /*espaçamento externo alto à direita e à esquerda*/
      margin: 20px auto;
      padding: 20px;/* espaçamento interno*/
      text-align: justify;
   }
   h2 {
       text-align: center;
   }
   ol li{
       padding-bottom: 10px;
       margin-bottom: 20px;
   }
   table tr td{
       padding: 20px;
   }
   table{
       margin: 0 auto; /*centraliza a página */
       margin-bottom: 50px;
       border-collapse: collapse;
       font-family: 'Times New Roman', Times, serif;
       

   }
   .laranja{
       background-color: black;
   }
   .preto{
       background-color: black;
       color: aliceblue;
   }
   .roxo{
       background-color: purple;
   }
   .verde{
       background-color: #28a745;
   }
   .vermelho{
       background-color: red;
   }
   .azul{
       background-color: navy;
       color: white;
   }
   .cinza{
       background-color: gray;
   }
   .campos {
       margin-bottom: 20px;
   }
   h3{
     text-align: center;
   }